# Selecting

## Selecting the longest books, refering to the page number

In [1]:
import pandas as pd
books = pd.read_csv("Books.csv")

In [2]:
books

,title,price,isbn,publication_year,language,cover_type,pages_number,book_id,author_id,publisher_id
0,Դառը ծովը,5800.0,9789939884943,2023.0,Armenian,Hard,336.0,1,1,1
1,Աշխարհի պատմությունը 10½ գլուխներով,5990.0,9789939980256,2023.0,Armenian,Hard,480.0,2,2,2
2,Ալ տառը,4990.0,9789939980140,2023.0,Armenian,Ultrathin,280.0,3,3,2
3,Լուսնաքարը,5990.0,9789939980089,2023.0,Armenian,Hard,656.0,4,4,2
4,«Ծիածանը» և ․․․,8400.0,9789939113852,2023.0,Armenian,Hard,168.0,5,5,3
...,...,...,...,...,...,...,...,...,...,...
22792,Կանաչ ու սև․ 2020 թվականի հայկական աղետը,6000.0,9789939882925,2021.0,Armenian,Soft,516.0,22793,1490,142
22793,Մահվան հովիտ,4000.0,9789939882963,2021.0,Armenian,Soft,360.0,22794,1490,142
22794,Իբր պոեզիա,3800.0,9789939877747,2021.0,Armenian,Soft,80.0,22795,1988,9
22795,Ռազմարվեստ․ Ցամաքային ճեղքում․ Հատոր 2,25000.0,9789939034911,2020.0,Armenian,Hard,1333.0,22796,1734,160
22796,Тигран Великий: меж двух огней,3400.0,9785604292242,2019.0,Russian,Soft,292.0,22797,1989,4

In [7]:
# Filter books with 600+ pages
books_600plus = books[books['pages_number'] > 600]

In [8]:
# Select the "book_title" and "author" columns
selected_books = books_600plus[['title']]

In [10]:
print(selected_books.title)

3                                             Լուսնաքարը
11                         Stalin. Passage to revolution
16       Անտիպ գործեր, նամականիներ, նյութեր և փաստաթղթեր
58                                                 Чужак
61                                                Сталин
                              ...
22720                                 The Complete Works
22736                   Вторая мировая война. В 3 книгах
22738             Стартап: Настольная книга основателя /
22740                                        Будденброки
22795             Ռազմարվեստ․ Ցամաքային ճեղքում․ Հատոր 2
Name: title, Length: 2302, dtype: object

# Inserting

## Inserting random person's data to customers table

In [12]:
# Define the data for the new row as a dictionary
new_customer_data = {
    'customer_id': 3678,
    'first_name': 'Henry',
    'last_name': 'Sargsyan',
    'street_address': 'Abovyan 22',
    'state': 'Kentron',
    'city': 'Yerevan',
    'zip_code': '0002'
}

# Load the existing "customers.csv" file into a Pandas DataFrame
customers_df = pd.read_csv("customers.csv")
new_customer_df = pd.DataFrame([new_customer_data])
customers_df = pd.concat([customers_df, new_customer_df], ignore_index=True)

# Save the updated DataFrame back to the CSV file
customers_df.to_csv("customers.csv", index=False)

# Updating

## Updating one of the customer's data.

In [18]:
import random

In [19]:
num_rows = len(customers_df)

# Generate a random index to select a row
random_index = random.randint(0, num_rows - 1)

In [21]:
random_customer = customers_df.iloc[random_index]
random_customer

customer_id                               2071
first_name                              Angela
last_name                               Parker
street_address    312 Williams Knolls Apt. 589
state                             South Dakota
city                                Parkerfort
zip_code                                 80615
Name: 2071, dtype: object

In [22]:
new_data = {
    'customer_id': random_customer['customer_id'],
    'first_name': 'Angelina',
    'last_name': 'Jolie',
    'street_address': 'Burbank 0053',
    'state': 'California',
    'city': 'Los Angeles',
    'zip_code': '43560'
}

In [23]:
customers_df.loc[random_index] = new_data

In [24]:
# Print the updated row
print(customers_df.iloc[random_index])

customer_id               2071
first_name            Angelina
last_name                Jolie
street_address    Burbank 0053
state               California
city               Los Angeles
zip_code                 43560
Name: 2071, dtype: object

In [1]:
from DB_Folder.etl.data_preperation.sql_interactions import SqlHandler
from sqlalchemy import create_engine, text
import pandas as pd

# Create a SQLAlchemy engine for your SQLite database
engine = create_engine('sqlite:///DB_Folder/etl/data_preperation/BookStore.db')

# Select customers from Alabama
sql_query = text("""
    SELECT * FROM customers
    WHERE state = 'Alabama';
""")

with engine.connect() as connection:
    result = connection.execute(sql_query)
    rows = result.fetchall()

if rows:
    print("Customers from Alabama:")
    for row in rows:
        print(row)
else:
    print("No customers from Alabama found in the database.")

Customers from Alabama:
(24, 'Brooke', 'Bowen', '215 Amy Dale', 'Alabama', 'Port Jeffrey', '51425')
(51, 'Henry', 'Castillo', '72099 Dean Gateway', 'Alabama', 'Gonzalezbury', '15512')
(92, 'Crystal', 'Carpenter', '025 Green Square', 'Alabama', 'South Joannaville', '86737')
(111, 'Misty', 'Hernandez', '523 Melissa Crossing', 'Alabama', 'New Jack', '69379')
(132, 'Kellie', 'Ryan', '92525 Wendy Locks Suite 807', 'Alabama', 'New Teresastad', '49083')
(135, 'Sarah', 'Perez', '904 Tonya Port', 'Alabama', 'Rodriguezmouth', '34890')
(266, 'Amanda', 'Williams', '8561 Harrison Walks Suite 503', 'Alabama', 'West William', '62294')
(302, 'Rachel', 'Duncan', '498 Walker Estate Apt. 221', 'Alabama', 'Lake Kevin', '37746')
(346, 'Madeline', 'Robinson', '155 Kirby Heights', 'Alabama', 'Alexandraburgh', '84210')
(401, 'Ian', 'Johnson', '73132 Rivas Tunnel', 'Alabama', 'South Roberto', '82207')
(455, 'Jennifer', 'Camacho', '2738 Scott Lakes Suite 886', 'Alabama', 'North Roberttown', '35403')
(462, 'Phillip', 'Bradford', '43197 Meyer Gateway', 'Alabama', 'Jimenezport', '73739')
(496, 'Danielle', 'Brooks', '75628 Rowland Key Suite 438', 'Alabama', 'Bryanton', '40635')
(516, 'Jessica', 'Smith', '120 Brown Shore Apt. 053', 'Alabama', 'Claytonstad', '44386')
(573, 'Kevin', 'Duncan', '7345 John Port', 'Alabama', 'North Michellehaven', '4520')
(632, 'Barbara', 'Wilson', '546 Marshall Lodge', 'Alabama', 'Gailburgh', '33257')
(643, 'Joseph', 'Smith', '614 Garcia Roads', 'Alabama', 'Wilcoxport', '31873')
(713, 'Sarah', 'White', '1313 Williams Corner Suite 293', 'Alabama', 'West Biancaberg', '6703')
(765, 'Jason', 'Moore', '0908 Tammy Mall Apt. 944', 'Alabama', 'Lawrenceton', '736')
(777, 'Sylvia', 'Davis', '512 Combs Flat Apt. 795', 'Alabama', 'South Jessica', '15343')
(781, 'Jeremy', 'Miller', '1741 Crystal Forge Suite 725', 'Alabama', 'South Brandyfurt', '64416')
(804, 'Seth', 'Johnson', '5064 Garrett Fields', 'Alabama', 'Morenochester', '56902')
(865, 'Christopher', 'Moss', '8778 Tracy Park', 'Alabama', 'Graveston', '18398')
(893, 'Margaret', 'Smith', '1134 Hill Bridge', 'Alabama', 'Lindsaymouth', '60794')
(961, 'James', 'Calhoun', '03466 Hall Brook', 'Alabama', 'Garciamouth', '4100')
(1028, 'Ryan', 'Allen', '6871 Flores Squares', 'Alabama', 'Carsonfort', '74835')
(1053, 'Mary', 'Zimmerman', '6171 Schultz Lake', 'Alabama', 'South Robinbury', '51168')
(1064, 'Jonathan', 'Gibbs', '7738 Tara Hills Suite 043', 'Alabama', 'New Kyleside', '26870')
(1084, 'Carl', 'Martin', '01458 Henderson Dam Suite 194', 'Alabama', 'Rothbury', '55200')
(1181, 'Omar', 'Johnson', '1471 Martin Lights', 'Alabama', 'East Sarah', '19125')
(1191, 'Jennifer', 'Lopez', '7646 Stephens Key', 'Alabama', 'Lake Tiffany', '74508')
(1294, 'Thomas', 'Roberts', '517 Mccarty Meadows Apt. 449', 'Alabama', 'Lake Heathershire', '83263')
(1399, 'Larry', 'Curtis', '541 Sara Extension Suite 140', 'Alabama', 'Wesleyville', '13865')
(1432, 'Andrew', 'Johnson', '4394 Harvey Centers', 'Alabama', 'Camerontown', '55778')
(1480, 'Samuel', 'Palmer', '1051 Smith Stravenue', 'Alabama', 'West Samuelmouth', '76353')
(1514, 'Dylan', 'Roberts', '87416 Matthew Shores', 'Alabama', 'Michaelbury', '73131')
(1519, 'Joshua', 'Alexander', '968 Peterson Lodge', 'Alabama', 'Crawfordmouth', '13586')
(1536, 'Michael', 'Allison', '536 Lori Springs', 'Alabama', 'Port Michelle', '78882')
(1595, 'Eddie', 'Williams', '487 Craig Loaf Suite 457', 'Alabama', 'West Markfurt', '34426')
(1681, 'Jennifer', 'Morales', '352 Hayden Wells', 'Alabama', 'Walkerland', '49014')
(1854, 'Robert', 'Blackwell', '534 Garcia Cliff', 'Alabama', 'Jacksonland', '44570')
(1895, 'Cory', 'Wilson', '9296 Jeremiah Spring Apt. 381', 'Alabama', 'East Theodoreborough', '66822')
(1931, 'Michael', 'Schneider', '8658 Jennifer Mews Suite 604', 'Alabama', 'Barnettview', '95158')
(2092, 'Shannon', 'Lin', '57187 Cain Center', 'Alabama', 'Josephside', '73987')
(2112, 'Jacqueline', 'Cortez', '530 Keith Mountains', 'Alabama', 'Lake Leroy', '25589')
(2258, 'Angela', 'Molina', '0203 Clements Points Apt. 920', 'Alabama', 'East Shawnmouth', '28509')
(2264, 'Raymond', 'May', '2109 Butler Route', 'Alabama', 'West Richard', '66326')
(2381, 'Brandy', 'Diaz', '98006 Kelly Street Apt. 212', 'Alabama', 'South Timothy', '88733')
(2392, 'John', 'Johnson', '24729 Carlos Divide Suite 758', 'Alabama', 'East Michael', '54911')

In [2]:
# Insert a new customer
new_data = pd.Series({'customer_id': 83428, 'first_name': "Emily", "last_name": "Clarkson", "street_address": "9022 Street", "state": "California", "city": "Los Angeles", "zip_code": "29980"})

# Use the SqlHandler class to insert the new customer (as shown in your previous code)
sql_handler = SqlHandler("BookStore", "customers")
sql_handler.insert_one(new_data)
print("New customer has been inserted.")

# Update a customer's information where first_name = 'John'
update_data = pd.Series({'customer_id': 828828, 'first_name': "Bradley", "last_name": "Peterson", "street_address": "5014 Street", "state": "New York", "city": "New Jersey", "zip_code": "17820"})

# Use the SqlHandler class to update the customer (as shown in your previous code)
condition = "first_name = 'John'"
sql_handler.update_table(condition, update_data)
print("Customer's information has been updated.")

# Dispose of the SQLAlchemy engine
engine.dispose()

2023-11-03 22:52:34,136 - sql_interactions.py - get_table_columns - INFO - (the list of columns: []) - line: 62
2023-11-03 22:52:34,137 - sql_interactions.py - insert_one - ERROR - (Data contains columns not present in the database table.) - line: 39
2023-11-03 22:52:34,139 - sql_interactions.py - get_table_columns - INFO - (the list of columns: []) - line: 62
2023-11-03 22:52:34,139 - sql_interactions.py - update_table - ERROR - (Data contains columns not present in the database table.) - line: 170

New customer has been inserted.
Customer's information has been updated.